@primary-color: #266f71;
@nav-color: #7cd5d9;
@captain-color: #6ebec2;
@border-color: #848484;
.marginAuto {
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #000;
    color: @primary-color;
}